<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">
    <a href="/index">Get request</a> <a href="/state">State</a> <a href="/events">Events</a> <a href="/dashboard">Dashboard</a>
    <title>Workstation Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<h1>III web client - test 1</h1>
    <p>This client will contact the backend API endpoints</p>
<h3>Request Get State - REST endpoint</h3>
    <button onclick="addPallet()">Add Pallet</button>
    <button onclick="removePallet()">Remove Pallet</button>
    <div id="log"> </div>
<body>
    <script>
        function addPallet(){
            console.log("get state routine...");
            //Contact REST endpoint on the server
            $.post( "http://127.0.0.1:5000/workstation/state", function( data ) {
            $("#log").html(data);
            //alert( "Load was performed." );
        });
        }
    </script>
</body>
</html>