<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>III client - test1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<a href="/index">Get request</a> <a href="/robots">Robots page</a>  <a href="/polling">Polling example</a>
<h1>Robot data</h1>
<p>This page retrieves all robots in the system, filtering them by brand</p>
<p> The brand value will be used in the SQL query at the server side</p>

<h3>Request Get Robot - REST endpoint</h3>

Robot brand: <input type="text" id="brand">
<button onclick="getRobots()">Execute Get Robot</button>

<div id="log"> </div>

<script>

    function getRobots(){
        console.log("get state routine...");
        var brand= $("#brand").val();
        //Contact REST endpoint on the server
        $.get( "/robot/brand/"+brand, function( data ) {
            dataObj = JSON.parse(data);
            console.log(dataObj);

            htmlTable=getHtmlTable(dataObj);
            $("#log").html(htmlTable);

        });
    }


    function getHtmlTable(dataObj){

        var tb="<table>\n" +
            "  <tr>\n" +
            "    <th>id</th>\n" +
            "    <th>Brand</th>\n" +
            "    <th>Operation type</th>\n" +
            "    <th>Number of joints</th>\n" +
            "  </tr>";

        for(var i in dataObj)
        {
            var id = dataObj[i][0];
            var brand = dataObj[i][1];
            var operationType = dataObj[i][2];
            var numberJoints = dataObj[i][3];
            console.log(id);
            tb+="<tr><td>"+id+"</td><td>"+brand+"</td><td>"+operationType+"</td><td>"+numberJoints+"</td></tr>";
        }
        tb+="</table>";
        return tb;
    }

</script>

</body>
</html>